$('.answer-errors').html("<%= render 'shared/errors', resource: answer %>");

<% unless answer.errors.present? %>
  $('[data-answer-id="<%= answer.id %>"] .body').html('<p> <%= answer.body %> </p>');
  $("[data-answer-id=<%= answer.id%>] .edit-answer").addClass('hidden');
  $("[data-answer-id='<%= answer.id %>'] .edit-answer-link").removeClass('hidden');

  $('[data-answer-id="<%= answer.id %>"] .links').append('<%= render partial: "shared/links", locals: { resource: answer } %>');
  $('[data-answer-id="<%= answer.id %>"] .files').append('<%= render partial: "shared/attached_files", locals: { resource: answer } %>');
<% end %>
